body {
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: 800;
    background-color: #f9f9f9;
    color: #333;
    
    background-image: url('assets/fondo1.jpg');
    background-size: cover; /* Ajusta el tamaño para cubrir toda la pantalla */
    background-position: center;
    background-repeat: no-repeat;
}


/* Ajustes específicos para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    body {
        background-size: contain; /* Cambia el tamaño para que se ajuste dentro del contenedor */
    }
}

@media (max-width: 1200px) {
    body {
        background-size: 200%; /* Aumenta el tamaño para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    body {
        background-size: 250%; /* Ajusta aún más para dispositivos móviles */
    }
}

h1, h2 {
    color: #6b4f4f;
    
}

@media (max-width: 768px) {
    h1.display-2 {
        font-size: 2.5rem; /* Ajuste para dispositivos más pequeños */
    }

    h2.lang {
        font-size: 1.2rem; /* Ajuste para dispositivos más pequeños */
    }
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2.1em;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en nuevas filas si es necesario */
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.countdown-item span {
    font-weight: bold;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    #countdown {
        font-size: 1.5em; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
    }

    .countdown-item {
        margin: 5px;
    }
}

@media (max-width: 480px) {
    #countdown {
        font-size: 1.2em; /* Reduce aún más en pantallas muy pequeñas */
        flex-direction: column; /* Muestra los items en columna */
        gap: 10px;
    }
}


.countdown-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2.1em;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-item span {
    font-weight: bold;
    font-size: 1.5em;
    color: #6b4f4f;
}

.countdown-label {
    font-size: .9em;
    color: #a9a9a9;
}

header.jumbotron {
    background-color: #fff0f5;
    padding: 50px; /* Aumenta el padding para más espacio */
    margin: 0 auto;
    border: 1px solid #ccc; /* Borde alrededor del cuadro */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para el cuadro */
    max-width: 80%; /* Ajusta el ancho del cuadro */
}
/*.jumbotron {
    background-color: #fff0f5;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}*/

#gallery img {
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

form input, form button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#rsvp .card {
    border-radius: 10px;
    background-color: #f7f5f2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#rsvp .form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 1rem;
}

#rsvp .form-group label {
    font-weight: 600;
    color: #333;
}

#rsvp .form-control:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.25);
}

#rsvp .btn-primary {
    background-color: #007bff;
    border: none;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#rsvp .btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
}

#rsvp .form-group {
    margin-bottom: 1.5rem;
}

#gallery img {
    width: 65%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}



